<h2 class="text-center">Lista de productos Variedades del Cid</h2>
<p></p>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" (click)="irSerachName()">Buscar Producto</button>
    <button type="button" class="btn btn-success" (click)="irSearchCategory()">Buscar Categoria</button>
    <button type="button" class="btn btn-success" (click)="irAddProducto()" >Añadir Producto</button>
</div>
<p></p>
<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th>Nombre</th>
            <th>Descrición</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let producto of productos">
            <td>{{producto.name}}</td>
            <td>{{producto.description}}</td>
            <td>{{producto.marca}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.category}}</td>
            <td>
                <button (click)="actualizarProducto(producto.id)" class="btn btn-info">Modificar</button>
                <button (click)="eliminarProducto(producto.id)" class="btn btn-danger" style="margin-left: 10px;">X</button>
            </td>
        </tr>
    </tbody>
</table>

