<h1 class="text-center ">Variedades del cid</h1>

<div class="btn-group" role="group" aria-label="Basic example" >
  <button type="button" class="btn btn-success" routerLink="productos" routerLinkActive="active">Productos</button>
  <button type="button" class="btn btn-success" routerLink="pedidos" routerLinkActive="active">Pedidos</button>
  <button type="button" class="btn btn-success" routerLink="proveedores" routerLinkActive="active">Proveedores</button>
</div>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>





