<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro producto</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre producto</label>
            <input type="text" class="form-control" id="nombreProducto" [(ngModel)]="producto.name" name="name">
            <label>Descricion producto</label>
            <input type="text" class="form-control" id="descripcionProducto" [(ngModel)]="producto.description" name="description">
            <label>Marca</label>
            <input type="text" class="form-control" id="marcaProducto" [(ngModel)]="producto.marca" name="marca">
            <label>Precio</label>
            <input type="text" class="form-control" id="precioProducto" [(ngModel)]="producto.precio" name="precio">
            <label>Categoria</label>
            <input type="text" class="form-control" id="categoriaProducto" [(ngModel)]="producto.category" name="category">
        </div>
        <button class="btn btn-success">Añadir</button>
    </form>
</div>
